
        
h1{text-align: center;}
body{ background-color: rgb(225, 240, 239);
    font-family: Arial, Helvetica, sans-serif;
}
.card {

text-align: center;
justify-content: center;
align-items: center;
height: auto;
border-radius: 30px;
margin-left:10% ;
margin-right:10% ;
padding-left: 5%;
padding-right: 5%;
background: #e0e0e0;
box-shadow: 15px 15px 30px #bebebe,
     -15px -15px 30px #ffffff;
}

.button {
color: #090909;
padding: 0.7em 1.7em;
font-size: 18px;
border-radius: 0.5em;
background: #e8e8e8;
border: 1px solid #e8e8e8;
transition: all .3s;
box-shadow: 6px 6px 12px #c5c5c5,
     -6px -6px 12px #ffffff;
}

button:hover {
border: 1px solid white;
}

button:active {
box-shadow: 4px 4px 12px #c5c5c5,
     -4px -4px 12px #ffffff;
}
footer{text-align: center;
padding-bottom:5px;
padding-top:5%;}
